{% extends "base.html" %}
{% load static %}

{% block title %}
About us
{% endblock %}

{% block content %}
<h1>О компании</h1>

<section>
    <h2>Информация о компании</h2>
    <p>F-club это современный фитнес-клуб, <strong>предоставляющий широкий спектр услуг для здоровья и фитнеса</strong>.
        Наша миссия - помочь нашим клиентам достичь своих фитнес-целей и поддерживать здоровый образ жизни.<a href="#contacts">(Контакты см.ниже)</a></p>
</section>
<hr>

<section>
    <h2>Логотип</h2>
    <div itemscope itemtype="http://schema.org/ImageObject">
        <img src="{% static 'images/logo.png' %}" alt="Логотип" width="200" height="200" itemprop="contentUrl">
        <meta itemprop="name" content="Логотип F-club">
    </div>
    
    <h2>Видео</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/4-zjQvTDnbw?si=Zbc-UskMudW2-syU"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>

    <!-- класс на будущее -->
    <blockquote class="poem">
        Спорт нам плечи расправляет,<br>
        Силу, ловкость нам дает.<br>
        Он нам мышцы развивает,<br>
        На рекорды нас зовет
    </blockquote>
</section>
<hr>

<section>
    <h2>История по годам</h2>
    <table>
        <thead>
            <tr>
                <th>Год</th>
                <th>Событие</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2003</td>
                <td>Появление первого зала</td>
            </tr>
            <tr>
                <td>2008</td>
                <td>Крупная городская сеть</td>
            </tr>
            <tr>
                <td>2023</td>
                <td>Филиалы в 20 странах на 3 континентах</td>
            </tr>
        </tbody>
    </table>
</section>
<hr>

<section>
    <h2>Сертификат</h2>
    <p>Здесь будет сертификат:)</p>

    <h2 id="contacts">Реквизиты</h2>
    <address itemscope itemtype="http://schema.org/PostalAddress">
        <p itemprop="streetAddress">Адрес: г. Веб, ул. Верстательная, д. 42</p>
        <p itemprop="telephone">Тел. для справок: +375(33)-419-4304</p>
        <p itemprop="email">Email: info@fclub.com</p>
    </address>
</section>
{% endblock %}