{% extends "base.html" %}
{% load static %}

{% block head %}
<link href="{% static 'css/news_list.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
Новости
{% endblock %}

{% block content %}
<h1>Новости</h1>
<section>
    <div class="news-container">
        {% for news in news_list %}
        <div class="news-card">
            <h2><strong>{{ news.title }}</strong></h2>
            <p>{{ news.preview }}</p>
            <a href="{{ news.get_absolute_url }}">Читать далее</a>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}