{% extends "base.html" %}
{% load static %}

{% block title %}
Privacy Policy
{% endblock %}
{% block content %}
<h1>Политика конфиденциальности</h1>

<p><strong>1. Введение и Основные положения</strong></p>
<p>F-club обязуется защищать конфиденциальность ваших данных и предоставлять вам наши услуги с учетом наших высших стандартов прозрачности и безопасности. Настоящая политика конфиденциальности объясняет, как мы собираем, используем и защищаем ваши личные данные.</p>

<p><strong>2. Сбор и использование данных</strong></p>
<p>Мы собираем информацию, которую вы предоставляете нам при регистрации, бронировании услуг, заполнении анкет и в процессе использования наших услуг. Эти данные могут включать ваше имя, контактную информацию, информацию о здоровье и другие сведения, необходимые для обеспечения вашей безопасности и комфорта.</p>

<!-- может еще чего добавлю -->
<!-- можно добавить ссылку на страницу с контактами -->
{% endblock %}