{% extends "base.html" %}
{% load static %}

{% block title %}
Промокоды и купоны
{% endblock %}

{% block content %}

<section>
    <h1>Промокоды и купоны</h1>
    
    <h2>Действующие промокоды</h2>
    <ul>
        <li>Промокод 1: Скидка 10% на все программы</li>
        <li>Промокод 2: Белплатное пробное занятие</li>
    </ul>
    
    <h2>Архив промокодов</h2>
    <ul>
        <li>Промокод 1: Скидка 20% на спортивное питание в фирменном магазине</li>
        <li>Промокод 2: Скидка 15% на полугодовой абонемент</li>
    </ul>
</section>

{% endblock %}