{% extends "base.html" %}
{% load static %}

{% block title %}
Promotions
{% endblock %}

{% block content %}

<h1>Промокоды и купоны</h1>

<!-- Скорее всего нужно сделать отдельную модельку и реализовать применение купонов при покупке -->
<h2>Действующие промокоды</h2>
<ul>
    <li>Промокод 1: Скидка 10% на все программы</li>
    <li>Промокод 2: Белплатное пробное занятие</li>
</ul>

<h2>Архив промокодов</h2>
<ul>
    <li>Промокод 1: Скидка 20% на спортивное питание в фирменном магазине</li>
    <li>Промокод 2: Скидка 15% на полугодовой абонемент</li>
</ul>

<!-- Можно разместить еще инфу -->


{% endblock %}