{% extends "base.html" %}
{% load static %}

{% block head %}
<link href="{% static 'css/review_list.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
Отзывы
{% endblock %}

{% block content %}
<section>
    <h1>Отзывы</h1>
    <div class="reviews-container">
        {% for review in reviews %}
        <div class="review">
            <p><strong>Имя: {{ review.reviewer }}</strong></p>
            <p>Оценка: {{ review.rating }}/5</p>
            <p>{{ review.content }}</p>
            <p>Дата: <datetime>{{ review.created_date }}</datetime></p>
        </div>
        {% endfor %}
    </div>
</section>

<a href="/add_review" class="btn btn-primary">Добавить отзыв</a>
{% endblock %}
