{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Вакансии</title>
{% endblock %}

{% block content %}
    <h1>Вакансии</h1>

    <div class="vacancy">
        <p class="vacancy-title">Вакансия №1: Менеджер по продажам</p>
        <p class="vacancy-description">
            Мы ищем кандидата на позицию Менеджера по продажам. Основные обязанности включают в себя активные продажи нашей фитнес-подписки, ведение переговоров с клиентами и поддержание долгосрочных отношений. Мы ищем кандидата с опытом в продажах и отличными коммуникативными навыками.
        </p>
    </div>

    <div class="vacancy">
        <p class="vacancy-title">Вакансия №2: Инструктор по фитнесу</p>
        <p class="vacancy-description">
            Мы приглашаем опытного инструктора по фитнесу присоединиться к нашей команде. Вашими обязанностями будут проведение тренировок, разработка индивидуальных программ тренировок для клиентов и обеспечение безопасности наших посетителей. Требуется сертификация в области фитнеса и отличные знания в области тренировок.
        </p>
    </div>
{% endblock %}