{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="description"
        content="F-club - это путь к здорову телу, здоровой жизни и душевному спокойствию. Составим Вам лучшую программу тренировок вместе!!!">
    <meta name="keywords"
        content="F-club, спортивный клуб, абонементы, фитнес, спортзалы, тренировки, инструкторы, тренажерные залы, спорт, тренажерки">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главная{% endblock %}</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
</head>

<body>
    <header>
        <nav class="menu">
            <!-- Пока поделил между хедером и футером -->
            <a href="/fclub" class="logo">F-club</a>
            <a href="/promotions" class="logo">Акции</a>
            <a href="/news_list" class="logo">Новости</a>
            <a href="/review_list" class="logo">Оценки</a>
            <a href="/" class="logo">Главная</a>
            <a href="/cart" class="logo">Корзина</a>
        </nav>
        <p><span id="date"></span></p>
        <p><span id="time"></span></p>
        <p><span id="zone"></span></p>
        <script>
            const today = new Date();
            const formattedToday = today.toLocaleDateString();
            const time = today.toLocaleTimeString();
            const tz = Intl.DateTimeFormat().resolvedOptions().timeZone;

            document.getElementById("date").textContent = formattedToday;
            document.getElementById("time").textContent = time;
            document.getElementById("zone").textContent = tz;
        </script>
        <div class="cart">
            {% if user.is_authenticated %}
            Hello, {{ user.username }}
            <a href="{% url 'login:logout' %}">Log out</a>
            {% else %}
            <a href="{% url 'login:registration' %}">Registration</a>
            <a href="{% url 'login:login' %}">Log in</a>
            {% endif %}
        </div>
    </header>
    <main>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <a href="/about_us" class="logo">О нас</a>
        <a href="/privacy_policy" class="logo">Политика конфиденциальности</a>
        <a href="/faq" class="logo">FAQ</a>
        <a href="/employees" class="logo">Сотрудники</a>
        <a href="/vacancies" class="logo">Вакансии</a>
        <a href="/experimental_page" class="logo">Эксперимент</a>
        <a href="{% url 'statistic:analyse' %}" class="logo">Статистика</a>

    </footer>
</body>

</html>