{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}Home{% endblock %}</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>

<body>
    <div id="header">
        <nav class="menu">
            <!-- Подумать о том чтобы перегруппировать это чудо(возможно что-то вынести в отделььное приложение) -->
            <a href="/fclub" class="logo">F-club</a>
            <a href="/about_us" class="logo">About us</a>
            <a href="/promotions" class="logo">Promotions</a>
            <a href="/news_list" class="logo">News</a>
            <a href="/employees" class="logo">Employees</a>
            <a href="/privacy_policy" class="logo">Privacy Policy</a>
            <a href="/vacancies" class="logo">Vacancies</a>
            <a href="/" class="logo">Home</a>
            <a href="/cart" class="logo">Cart</a>
        </nav>
        <p><span id="date"></span></p>
        <p><span id="time"></span></p>
        <p><span id="zone"></span></p>
        <script>
            const today = new Date();
            const formattedToday = today.toLocaleDateString();
            const time = today.toLocaleTimeString();
            const tz = Intl.DateTimeFormat().resolvedOptions().timeZone;

            document.getElementById("date").textContent = formattedToday;
            document.getElementById("time").textContent = time;
            document.getElementById("zone").textContent = tz;
        </script>
        <div class="cart">
            {% if user.is_authenticated %}
                Hello, {{ user.username }}
                <a href="{% url 'login:logout' %}">Log out</a>
            {% else %}
                <a href="{% url 'login:registration' %}">Registration</a>
                <a href="{% url 'login:login' %}">Log in</a>
            {% endif %}
        </div>
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>