.club-logo:hover {
    -webkit-transform: scale(0.8) rotate(5deg);
    -webkit-transform-origin: 0% 0%;
    -moz-transform: scale(0.8) rotate(5deg);
    -moz-transform-origin: 0% 0%;
    -o-transform: scale(0.8) rotate(5deg);
    -o-transform-origin: 0% 0%;
    -ms-transform: scale(0.8) rotate(5deg);
    -ms-transform-origin: 0% 0%;
    transform: scale(0.8) rotate(5deg);
    transform-origin: 0% 0%
}

.certificate {
    height: 600px;
    width: 400px;
    border: 8px solid;
    border-image: linear-gradient(to right, #0074cc, #2ea44f);
    border-image-slice: 1;
    background-image: url('/static/images/certificate_background.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}
  
.certificate h1 {
    font-size: 30px;
    margin-bottom: 20px;
}
  
.certificate h2 {
    font-size: 24px;
    margin-top: 20px;
}
  
.certificate p {
    font-size: 18px;
    margin-bottom: 10px;
}
  
.certificate p:last-child {
    margin-bottom: 0;
}
  
.certificate p.signature {
    position: relative;
    z-index: 1;
}
  
.certificate p.signature::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 2px;
    background: linear-gradient(to right, #000000, #ffffff);
    z-index: -1;
}

.club-history {
    margin-top: 20px;
}
  
.club-history h2 {
    font-size: 24px;
    color: #333; 
}
  
.club-history table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 10px;
}
  
.club-history th,
.club-history td {
    border: 1px solid #736e6e; 
    padding: 8px;
    text-align: left;
}
  
.club-history th {
    background-color: #8c8383; 
}
  
.club-history time {
    font-weight: bold;
    color: #0aafa4; 
}
  
.promo-video {
    margin-top: 20px;
}
  
.promo-video iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    border: none;
    border-radius: 8px;
}
  