section {
    margin: 50px auto;
    padding: 20px;
}
  
h1 {
    font-size: 28px;
    margin-bottom: 20px;
}
  
strong {
    color: #3366cc;
}
  
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}
  
p:last-child {
    margin-bottom: 0;
} 

section p:nth-of-type(8) {
    font-weight: bold;
}
  