/* @import url(http://fonts.googleapis.com/css?family=Ubuntu); */

body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("/static/images/site_background.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5 , h6 {
    font-family: 'system-ui', sans-serif; font-weight:normal;
}

a {
    text-decoration:none;
    color:#5993bb;
}

a:hover {
    color:#77b6e2;
}

a.button,
input[type="submit"] {
    color: #fff;
    background: #5993bb;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    border: 0;
    overflow: hidden;
}

a.button.light {
    color: #666;
    background: #ededed;
}

.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
}

table th, table td {
    text-align:left;
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#efefef;
}

tbody tr.subtotal {
    background:#ccc;
}

thead th, tbody tr.total {
    background:#5993bb;
    color:#fff;
    font-weight:bold;
}

table.cart {
    margin-bottom:40px;
}

table.cart img {
    width:180px;
}

tbody td.num {
    text-align:right;
}

td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;
}


ul.errorlist {
   float:left;
   color:#ff0000;
   clear:both;
   font-size:13px;
   margin:0;
   padding:0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ececec;
    padding: 5px 10px;
    font-size: 18px;
    z-index: 9999;
    overflow: auto;
  
    display: flex; 
    justify-content: space-between;
  }

#subheader {
    background:#ececec;
    color:#444;
    padding:15px 100px;
    overflow:auto;
}

header .logo {
    font-family: 'Ubuntu', sans-serif;
    float:left;
    color:#333;
    font-size:15px;
    margin-right:10%;
}

header .cart {
    float:right;
    padding-top:4px;
    margin-right: 20px;
}

#subheader .cart {
    float:right;
    padding-top:4px;
}

footer {
    display: flex;
    justify-content: space-between;
    background:#ececec;
    padding:10px 100px;
    font-size:18px;
    overflow:auto;
}

footer .logo {
    font-family: 'Ubuntu', sans-serif;
    float:left;
    color:#333;
    font-size:15px;
    margin-right:10%;
}

#content {
    padding:0 100px;
    overflow:hidden;
}


main {
    flex-grow: 1;
}

#main {
    float:left;
    width: 96%;
    margin-right:-220px;
    overflow:hidden;
}

/* Не посещенная ссылка */
a.logo:link {
    color: #0000FF;
}

/* Посещенная ссылка */
a.logo:visited {
    color: #800080;
}

/* Состояние при наведении курсора */
a.logo:hover {
    color: #FF0000;
    text-decoration: underline;
}

/* Состояние при нажатии */
a.logo:active {
    color: #008000;
}

/* Состояние в фокусе */
a.logo:focus {
    outline: 2px solid #FFA500;
}

/* Общие стили для всех ссылок */
a.logo {
    text-decoration: none;
    margin: 0 10px; /* Пример отступов между ссылками */
}

/* Дополнительные стили для ссылок в футере, чтобы они выглядели отлично от ссылок в меню */
footer a.logo {
    color: #808080;
    font-weight: bold;
}

button {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
}