.vacancy-container {
    display: grid;
    grid-template-columns: repeat(auto-fill);
    grid-gap: 20px;
    width: 100%;
}

.vacancy {
    width: 30%;
    float: left;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.vacancy-title {
    font-weight: bold;
}

.vacancy-container::after {
    content: "";
    display: table;
    clear: both;
}
